<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/page-home" routerLinkActive="active">{{ 'demo.home' | translate }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/page-category" routerLinkActive="active">{{'demo.category' | translate}}</a>
            </li>
        </ul>
    </div>
    <div class="form-inline">
        <select id="categoriess" class="form-control" (click)="selectChage($event)">
          <option value="en">English</option>
          <option value="kh">Khmer</option>
      </select>
    </div>
</nav>