<div class="text-center p-3 text-boil">
    <h2>{{'domo.cagegoryTitle' | translate}}</h2>
</div>
<nav class="navbar navbar-light justify-content-between" style="padding: 10px 0px;">
    <form [formGroup]="categoryForm">
        <div class="col-auto" style="padding: 0px;">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="input-group-text btn-outline-success" (click)="addCategory()">{{btnName}}</button>
                </div>
                <input class="form-control" type="text" placeholder="Enter Category" aria-label="category" formControlName="title" [ngClass]="{ 'is-invalid':submited && f.title.errors }">
            </div>
        </div>
    </form>
    <form class="form-inline">
        <input class="form-control" [(ngModel)]="term" name="term" type="text" placeholder="Search" aria-label="Search">
    </form>
</nav>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col" style="width: 60%;text-align: center;">Title</th>
            <th scope="col" style="width: 60%;text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of categoryData | filter:term | paginate: { itemsPerPage: 10, currentPage: p }index as i ">
            <th scope="row">{{i+1}}</th>
            <td style="text-align: center;">{{data.title}}</td>
            <td style="text-align: center;">
                <button class="btn btn-outline-danger mr-2" type="button" (click)="deleteCategory(data._links.self.href)">{{'demo.delete' | translate}}</button>
                <button class="btn btn-outline-success" type="button" (click)="updateCategory(data._links.self.href,data.resourceId)">{{'demo.edit' | translate}}</button>
            </td>
    </tbody>
</table>
<nav class="navbar navbar-light  justify-content-between">
    <span></span>
    <form class="form-inline">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </form>
</nav>