<div class="text-center p-3 text-boil">
    <h2>{{'demo.title' | translate}}</h2>
</div>
<nav class="navbar navbar-light  justify-content-between" style="padding: 10px 0px;">
    <button class="btn btn-outline-success" type="button" routerLink="/add-new-book">{{'demo.add' | translate}}</button>
    <form class="form-inline">
        <input class="form-control" [(ngModel)]="term" name="term" type="text" placeholder="Search" aria-label="Search">
    </form>
</nav>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Thumbnail</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of datas | filter:term | paginate: { itemsPerPage: 10, currentPage: p }index as i ">
            <th scope="row">{{i+1}}</th>
            <td>{{data.title}}</td>
            <td>
                <img src={{data.thumbnail}} alt="" style="width: 150px; height: 70px;">
            </td>
            <td class="text-center">
                <span class="px-2">
                    <button class="btn btn-outline-primary px-2"  type="button" [routerLink]="['/view-book/', data.resourceId]">{{'demo.view' | translate}}</button>
                </span>
                <span class="px-2">
                    <button class="btn btn-outline-warning px-2"  type="button" [routerLink]="['/update-new-book/', data.resourceId]" >{{'demo.edit' | translate}}</button>

                </span>
                <span class="px-2">
                    <button class="btn btn-outline-danger px-2" type="button" (click)="onDelete(data._links.book.href)">{{'demo.delete' | translate}}</button>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div class="pagination">
</div>
<nav class="navbar navbar-light  justify-content-between">
    <span></span>
    <form class="form-inline">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </form>
</nav>