<div class="wrapper row2">
    <div id="container" class="clear">
        <section id="fof" class="clear">
            <a class="go-back" href="javascript:history.go(-1)">Back<br>&laquo;</a>
            <div class="positioned">
                <h1>404 Error !</h1>
                <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
            </div>
            <a class="go-home" routerLink="/page-home">Home<br>&raquo;</a>
        </section>
    </div>
</div>