#fof {
    display: block;
    position: relative;
    width: 100%;
    margin: 150px 0;
    text-align: center;
}

#fof .positioned {
    display: block;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #CCCCCC;
}

#fof .positioned h1 {
    margin: 0 0 0 20px;
    padding: 0;
    display: inline;
    font-size: 60px;
    text-transform: uppercase;
}

#fof .positioned p {
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 16px;
}

#fof a.go-back,
#fof a.go-home {
    display: block;
    position: absolute;
    top: 30px;
    width: 100px;
    padding: 20px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF6600;
}

#fof a.go-back {
    left: 0;
}

#fof a.go-home {
    right: 0;
}


/* CSS3 Elements Only Work In Latest Browsers */

#fof .positioned,
#fof a.go-back,
#fof a.go-home {
    /* Rounded Corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}