<div style="margin: auto;">
    <div class="card mt-5" style="width: 20rem; margin: auto;">
        <img class="card-img-top" src={{book.thumbnail}} alt="Card image cap">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Title: {{book.title}} | Category Type: {{book.categories.title}}</li>
            <li class="list-group-item">Author: {{book.author}}</li>
            <li class="list-group-item">{{book.description}}</li>
        </ul>
    </div>
</div>