<div class="text-center p-3 text-boil">
    <h2>ADD BOOK</h2>
</div>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title" [ngClass]="{ 'is-invalid':submited && f.title.errors }">
            <span *ngIf=" submited && f.title.errors" class="invalid-feedback">
              <span *ngIf="f.title.errors" class="text-danger">Title is required.</span>
            </span>
        </div>
        <div class="form-group col-md-6">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" placeholder="Author" formControlName="author" [ngClass]="{ 'is-invalid':submited && f.author.errors }">
            <span *ngIf=" submited && f.author.errors" class="invalid-feedback">
              <span *ngIf="f.author.errors" class="text-danger">Author is required.</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="discription">Description</label>
        <input type="text" class="form-control" id="discription" placeholder="Descrition" formControlName="description">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6" formGroupName="categories">
            <label for="inputState">Category</label>

            <select id="categoriess" class="form-control" formControlName="id" [ngClass]="{ 'is-invalid':submited && f.categories.invalid }">
              <option value="" disabled>Select Cateogories</option>
              <option *ngFor="let data of category"  value="{{data.resourceId}}">{{data.title}}</option>
            </select>
            <span *ngIf=" submited && f.categories.invalid" class="invalid-feedback">
              <span *ngIf="f.categories.invalid" class="text-danger">Category is required.</span>
            </span>
        </div>
        <div class="form-group col-md-6">
            <div class="form-group">
                <label for="exampleFormControlFile1">Choose File</label>
                <input type="file" class="form-control-file p-1" id="exampleFormControlFile1" (change)="selectImage($event)">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>